*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --background: #303030;
    --highlight-color: #269ccf;
    --main-font-color: rgb(239, 239, 239);
}

h1,h2,h3,h4,h5,h6, p{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: var(--main-font-color);
}

li{
    list-style-type: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--main-font-color);
    background-color: var(--background);
}

#header{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Snowboard_powder_day.jpg/2560px-Snowboard_powder_day.jpg);
   
  
    background-repeat: no-repeat;
    background-position: 40% 40%;
    width: 100%;
    height: 100vh;
}

#header-img{
    position: absolute;
    left: 10%;

    height: 80%;
}

#img-caption{
    position: absolute;

    right: 2%;
    bottom: 1%;
    color: var(--background);
    font-size: 15px;
}

#img-caption a{
    color: var(--background);
    font-weight: 700;
}

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    font-size: 30px;
    font-weight: 700;
    background-color: var(--background);
    z-index: 1;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    margin-right: 10%;
}


#title_container{
    position: absolute;
    width: 35%;
    top: 45%;
    left:10%;
}

#title_container h2{
    font-size: 48px;
    color: var(--background);
}

#title_container h1{
    font-size: 70px;
    color: var(--highlight-color);
}


#experience{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}




#exp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 38%;
    height: 100%;
    margin-left: 2%;
}

#experience-txt{
    font-size: 55px;
    line-height: 2em;
    color: var(--highlight-color);

}


.experience-img{
    position: absolute;
    width: 70%;
    height: 100%;
    right:0;
    clip-path: polygon(40% 0,100% 0, 100% 100%,0 100%);
    object-fit: cover;
}

#features{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#features-title{
    position:absolute;
    text-align: center;
    font-size: 60px;
    top: 5%;
    font-weight: 700;
}

#card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 100%;
}

.card{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--highlight-color);
    padding: 3%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card::-webkit-scrollbar{
    display: none;
}


.card__title{
    text-align: center;
    font-size: 40px;
    color: var(--highlight-color);
}

.card__content{
    text-align: start;
    font-size: 25px;
    margin-top: 1em;
}

#product-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--main-font-color);
    color: var(--background);
}

#product-video__title{
    margin-bottom: 2%;
    font-size: 35px;
}

#video{
    height: 75%;
    width: 60%;
}


#buy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 35vw;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;

    border: 2px solid var(--highlight-color);
    border-radius: 20px;
}

#form-title{
    font-size: 28px;
    font-weight: 700;
    padding: 0 10% 2% 10%;
    text-align: center;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 80%;
}

#form label{
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 25px;
    font-weight: 700;
    color: var(--highlight-color);
}

#form input{
    height: 45px;
    font-size: 20px;
}

#submit{
    margin-top: 3em;
    width: 60%;
    border-radius: 10px;
    align-self: center;
    height: 50px;
    background-color:  var(--highlight-color);
    color: var(--main-font-color);
    border: none;
    font-size: 25px;
    font-weight: 700;
}

#submit:hover{
    background-color: #37b1e6;
    cursor: pointer;
}

form{
    color: var(--highlight-color);
}

@media only screen and (max-width: 1024px){
    #header{
        background-position: 40% 40%;
    }

    #title_container{
        left: 5%;
        top: 25%;
    }

    #experience{
        flex-direction: row;
        height: 70vh;
    }

    #experience-txt{
        font-size: 30px;
        padding-left: 10%;
    }

    .experience-img{
        position: absolute;
        clip-path: none;
        width: 55%;
        right: 0;
    }

    #features{
        height: auto;
        padding-top: 30%;
        padding-bottom: 20%;
    }

    #card-container{
        flex-direction: column;
        gap: 2em;
        height: auto;
    }

    .card{
        width: 70%;
        height: 35vh;
    }

    #product-video{
        height: 60vh;
    }

    #video{
        height: 40vh;
        width: 90vw;
    }

    #form-container{
        width: 70vw;
    }
}


@media only screen and (max-width: 600px){
    #nav-bar ul{
        font-size: 20px;
        gap: 1em;
    }

    #header{
        background-position: 60% 70%;
    }

    #title_container{
        width: 70vw;
        top: 40%;
    }
    #title_container h2{
        font-size: 30px;
    }

    #title_container h1{
        font-size: 40px;
    }

    #experience-txt{
        font-size: 20px;
        padding-left: 5%;
    }

    .experience-img{
        position: absolute;
        clip-path: none;
        width: 50%;
        right: 0;
    }

    #features{
        padding-top: 50%;
    }

    #features-title{
        font-size: 40px;
    }

    .card__title{
        font-size: 25px;
    }

    .card__content{
        font-size: 20px;
    }

    .card{
        height: 55vh;
        width: 80%;
    }

    #product-video__title{
        font-size: 20px;
    }

    #video{
        width: 90%;
    }

    #form-container{
        width: 90%;
    }

    #form-title{
        font-size: 20px;
    }

    #img-caption{
        font-size: 8px;
    }
}